body {
  margin: 1rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  background-color: bisque;
}

h1 {
  font-size: 4rem;
}

button {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

footer {
  padding: 2rem;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.butcherPig {
  width: 12rem;
  border-radius: 50%;
}

.butcherPig:hover {
  width: 12rem;
  animation: 3s alternate sideToSide;
}

@keyframes sideToSide {
  from {
    transform: scale(20) rotate(360deg);
  }
}

.audio-element {
  display: block;
}

.userInput {
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

.inputArea {
  background-color: #606060;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput {
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
